.header {
  height: 100%;
  width: 100%;
  background-color: #446b8b;
}

.header_nav {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}

.header_nav_home {
  font-weight: 700;
}
.current-loaction {
  color: yellow;
}
