.container
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(192,192,192,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.private-message
{
  display: block;
  width: 40vw;
  min-height: 30vh;
  border: 2px solid #118ab2;
  border-radius: 5px;
  background: white;
  padding: 1rem;
  z-index: 11;
}

.username
{
  font-weight: 700;

}

.text-message
{
  width: 100%;
  resize: none;
  padding: 0.5rem;
}

.button-send
{
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  background: #118ab2;
  border: none;
  width: 20%;
}
