<!-- String interpolation -->
<h1>{{title + ": "+returnHelloWorld()}}</h1>
<h1>{{retunTitleFunc()}}</h1>

<!-- Propery Binding -->
<input type="text" [placeholder]="inputPlaceHolder">

<button [disabled]='isButtonDisabled'>
  button {{isButtonDisabled? 'disabled':'enabled'}}
</button>

<h2 [innerText]='title'></h2>

<!-- Event Binding -->
<button (click)="onClickButtonEnable()">{{isButtonDisabled? 'disabled':'enabled'}} + "top button"</button>

<input type="text" placeholder="Enter text" (input)="onInput($event)">

<div (mousemove)="onMouseSqureHover($event)" class="square">
  x: {{mouseDivX}} y: {{mouseDivY}}
</div>


<!-- 2 way binding -->
<!-- ngmodel means  title=value and value=title -->
<input type="text" placeholder="chance title" [(ngModel)]="title">


<!-- ngClass -->
<!-- <button [ngClass]="isButtonDisabled ? 'red-background' : 'blue-backgound'" [disabled]='isButtonDisabled'>
  button {{isButtonDisabled? 'disabled':'enabled'}}
</button> -->

<button [disabled]='isButtonDisabled' [ngClass]="buttonClasses">
  button {{isButtonDisabled? 'disabled':'enabled'}}
</button>

<button (click)="buttonClickerCounterFunc()" [ngClass]="buttonClickerColorChanger()">
  Just buttuon
</button>

<!-- ngIf -->
<div style="background-color: blue; width: 100px; height: 100px;" *ngIf="!isButtonDisabled"></div>

<input type="text" [ngClass]="isEmailValid ? 'border: 1px solid red' : ''" placeholder="please enter your email" (input)="validtionChecker($event)">
<p *ngIf="!isEmailValid">Invalid email suka</p>
