.container
{
  width: 100%;
  display: grid;
  grid-template-columns: 80% auto;
}
input
{
  margin: 1rem;
  padding:0.5rem
}
.button-send
{
  margin: 1rem;
  padding: 0.5rem;
  color: white;
  background: #1089b1;
  border:none;
  border-radius: 5px;
}

.button-send:hover
{
  background: #1089b1;;
  cursor: pointer;
}
