.input-text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #118ab2;
  border-radius: 5px;
  margin-top: 1rem;
}
.inline-block {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
.button {
  display: block;
  padding: 0.5rem;
  color: white;
  background: #118ab2;
  margin-top: 1rem;
}
.invalid-message {
  color: red;
  font-size: 0.75rem;
}
.button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
a {
  font-size: 0.75rem;
  align-items: flex-end;
  color: black;
}
.nav-container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
